body {
  background-color: #f1f5f6; }

header {
  color: #ffffff;
  height: 1.65rem;
  box-sizing: border-box;
  background-color: #333949;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  header #head a {
    float: left;
    display: block;
    height: 1.65rem;
    width: 1.65rem;
    background: url("../imgs/back.png") no-repeat center;
    background-size: 50% 50%; }
  header #head span {
    margin-left: 0.3rem;
    float: left;
    font: 700 0.38rem/1.65rem "";
    color: #ffffff;
    display: block; }

#willbuy {
  margin: 1.65rem 0  0.5rem  0; }
  #willbuy h3 {
    font: 0.32rem/1.2rem "";
    color: #6b7074;
    padding: 0 0.48rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ededed; }
  #willbuy ul li {
    height: 3rem;
    box-sizing: border-box;
    padding: 0.48rem;
    background-color: #ffffff;
    display: flex; }
    #willbuy ul li img {
      height: 100%;
      width: 3.6rem; }
    #willbuy ul li .will_r {
      padding: 0 0.45rem; }
      #willbuy ul li .will_r p {
        font: 700 0.3rem/0.6rem "";
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        margin-bottom: 1rem; }
      #willbuy ul li .will_r b {
        font: 700 0.3rem/0.6rem "";
        color: #cb3340; }
      #willbuy ul li .will_r span {
        font: 700 0.3rem/0.6rem "";
        color: #cb3340; }

#payway {
  margin: 0 0 0.5rem 0; }
  #payway h3 {
    font: 0.32rem/1.2rem "";
    color: #6b7074;
    padding: 0 0.48rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ededed; }
  #payway ul li {
    height: 2rem;
    box-sizing: border-box;
    padding: 0.48rem;
    background-color: #ffffff; }
    #payway ul li img {
      float: left;
      width: 3.5rem; }
    #payway ul li input {
      float: left;
      display: none; }
    #payway ul li i {
      float: right;
      display: block;
      margin-top: 0.26rem;
      height: 0.52rem;
      width: 0.52rem;
      background: url("../imgs/inputradio.gif") no-repeat 5% 0%;
      background-size: 240% 100%; }
    #payway ul li .nocheck {
      background-position: -0.66rem  0rem; }

#sale {
  background-color: #ffffff;
  position: relative;
  margin-bottom: 0.5rem; }
  #sale a {
    display: block;
    height: 1.5rem;
    padding: 0 0.52rem;
    background: url("../imgs/triangle.png") no-repeat 95% 45%;
    background-size: 5% 35%;
    font: 700 0.3rem/1.5rem "";
    color: #6b7074; }
  #sale div {
    background-color: #b6bbbe;
    padding: 0 0.15rem;
    color: #ffffff;
    position: absolute;
    left: 1.8rem;
    top: 0.6rem;
    border-radius: 10%; }

#calculate {
  background-color: #ffffff;
  margin-bottom: 0.5rem;
  padding: 0 0.52rem; }
  #calculate ul li {
    height: 1.5rem;
    font: 700 0.3rem/1.5rem ""; }
    #calculate ul li b {
      color: #6b7074;
      float: left; }
    #calculate ul li span {
      float: right;
      color: #cb3340; }

#rules {
  background-color: #ffffff;
  margin-bottom: 0.5rem;
  padding: 0 0.52rem;
  height: 1.5rem;
  display: flex;
  font: 700 0.36rem/1.5rem ""; }
  #rules i {
    display: block;
    margin: 0.5rem 0 0 0.5rem;
    height: 0.5rem;
    width: 0.5rem;
    background: url("../imgs/inputradio.gif") no-repeat 5% 0%;
    background-size: 240% 100%; }
  #rules .nocheck {
    background-position: -0.66rem  0rem; }
  #rules input {
    display: none; }
  #rules span {
    color: #6b7074; }
  #rules a {
    color: #029fe6;
    margin-left: 0.3rem; }

#foot {
  height: 1.44rem;
  border-top: 1px solid #cbcbcb;
  background-color: #ffffff;
  bottom: 0;
  width: 100%;
  text-align: center; }
  #foot b {
    float: left;
    font: 800 0.48rem/1.44rem "";
    display: block; }
  #foot .heji {
    margin-left: 3rem;
    color: #6c7175; }
  #foot .num {
    color: #cb3340; }
  #foot a {
    float: right;
    background-color: #ff2d50;
    display: block;
    font: 800 0.48rem/1.44rem "";
    width: 4.4rem;
    color: #ffffff; }

/*# sourceMappingURL=pay.css.map */
